/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

  body {
    background: linear-gradient(90deg, #fcbe47, #be2325, #5e85a4);
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
  }
  
  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  .full-screen {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column
    /* works with row or column */
    
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  
blockquote {
  font-family: 'Raleway', Arial, Helvetica, Sans-serif;
  font-weight: normal;
  letter-spacing: .1rem;
  font-size: 2rem;
  line-height: 3rem;
  color: #ffffff;
  text-align:center;
  text-transform: uppercase;
}


main {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  .button-line {
    font-family: 'Raleway', Arial, Helvetica, Sans-serif;
    text-transform: lowercase;
    letter-spacing: .0625rem;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: 1.4rem;
    opacity: .4;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    transition: all .5s ease;
    margin: 0 auto;
    display: block;
    width: 240px;
  }
  
  .button-line:hover {
    opacity: 4;
  }